@import "variable.scss";
@import "mixin.scss";

/*barre de chargement*/
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 999;
    animation: hideOverlay 3s forwards;
}

.loader-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #9356DC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes hideOverlay {
    to {
        opacity: 0;
        visibility: hidden;
    }

}
/* animation menu*/


.entree {
    animation: anim_menu_card 0.4s;
}

.plats {
    animation: anim_menu_card 0.8s;
}

.dessert {
    animation: anim_menu_card 1.2s;
}

@keyframes anim_menu_card {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(Opx);
        opacity: 1;
    }

}


p {
    align-items: center;
}

i {
    padding: 16.5px;
}

header {
    display: flex;
    flex-direction: column;
}

.Header_title {

    width: 100%;

    h1 {
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 4px 0px #00000026;
        padding: 0px 200px;
        margin: 0px 0px 2px 0px;
    }



}

main {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;

}

h1 {
     font-family: $fontOhmyfood;
    font-size: 30px;

}

h2 {
    font-family: $fontMain;
}

.location {
    display: flex;
    font-family: $fontMain;
    line-height: 18.75px;
}

.location_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $locationColor;

}



.exploration_container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: $menuColor;
    font-family: $fontMain;
    padding-bottom: 57px;
    padding-top: 39px;
}

.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.exploration_btn {
    @include btn;
    margin-top: 18px;


}

.exploration_btn:hover {
    opacity: 0.85;
    box-shadow: 0px 4px 15px 0px #00000059;


}

a {
    text-decoration: none;
    color: inherit;
}

.function_container {
    display: flex;
    flex-direction: column;
    font-family: $fontMain;
    padding-top: 48px;


}

.function_number {
    @include circle
}

.function_title {
    display: flex;
    margin-left: 20px;
}

.function_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 68px;

}

.function_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $menuColor;
    box-shadow: 0px 4px 15px 0px #00000026;
    border-radius: 20px;
    width: 50%;
}

.restau {
    background-color: $menuColor;
    padding-top: 40px;
    font-family: $fontMain;
}

.restau_title {
    margin-left: 20px;
}

.restau_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.restau_card_container {
    a {
        width: 75%;

        img {
            object-fit: cover;
        }
    }
}

.restau_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 18px;
    width: 100%;
    position: relative;




}

.heart_accueil {
    position: absolute;
    right: 55px;
    bottom: 50px;
    font-size: 1.3rem;

    .fa-solid {
        opacity: 0;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
        background-clip: text;
        color: transparent;
        
    }

    .fa-solid:hover {
        opacity: 1;
    }
}

.nouveau_dispo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;


}

.nouveau {
    @include rectangle_new;
    margin-top: 15px;
    margin-right: 30px;
}

.restau_card_txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    p {
        padding-bottom: 20px;
    }

    h3 {
        padding-top: 20px;


    }

    i {
        padding: 0;
        cursor: pointer;
        position: absolute;
    }


}

.restau_card_txt p,
.restau_card_txt h3 {
    display: flex;
    margin: 0px 0px 0px 13px;
    justify-content: space-between;


}

.restau_card img {
    width: 100%;
    height: 231px;
    border-radius: 20px 20px 0 0;

}

footer {
    background-color: $footerColor;
    padding-left: 25px;
    color: white;
}

.footer_title {
    font-family: $fontOhmyfood;
    color: white;
    padding-top: 22px;
}


.footer_link {
    display: flex;
    flex-direction: row;
    font-family: $fontMain;

    p {
        margin: 0;
    }

    i {
        padding: 0px 11px 0px 0px;
    }
}

.footer_link_dispo {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
}

// menu

.img_dim {
    width: 100%;
    height: 383px;
    display: block;
    object-fit: cover;
}

.Header_title_menu {
    display: flex;
    align-items: center;
    gap: 40%;
}

.menu_container {
    background-color: $menuColor;
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0px 0px;
    margin-top: -80px;
    position: relative;
}

.menu {
position: relative;
    h1 {
        margin-left: 17px;
        display: flex;
        align-items: center;

        i {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 100px;

        }
    }


}

.heart_menu {
position: absolute;
right: 50px;
font-size: 1.8rem;

    .fa-solid {
        opacity: 0;
        color: transparent;
        background-clip: text;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
        position:absolute;
        left: 0px;
    }

    .fa-solid:hover {
        opacity: 1;
    }
}

.fa-arrow-left{
    font-size: 3rem;

}
.menu_card {


    margin-right: auto;
}

.menu_content {
    margin-left: 13px;
    font-family: $fontMain;


}

.menu_content_title {
    @include menu_content_title;

}

.menu_content_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0px 4px 15px 0px #00000026;
    border-radius: 20px;
    padding-left: 15px;
    gap: 5px;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;

    h3,
    p {
        margin: 0;
    }

    p {
        padding-bottom: 12px;
    }

    h3 {
        padding-top: 12px;
    }
}

.animation_menu {

    background-color: #99E2D0;
    right: 0;
    position: absolute;
    border-radius: 0px 20px 20px 0px;
    bottom: 0;
    top: 0;
    width: 70px;
    transform-origin: right 50px;
    transform: translateX(70px);
    opacity: 0;
    transition-duration: 0.3s;

    i {
        color: white;
        position: absolute;
        right: 10px;
        bottom: 10px;

    }

}

.menu_content_card:hover .animation_menu {
    transform: translateX(0px);
    transition: ease-in-out 0.3s;
    opacity: 1;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    transition: ease-in-out 0.3s;


    span {
        font-weight: bold;
    }
}

.menu_content_card:hover .price {
    width: calc(100% - 80px);

    transition: ease-in-out 0.3s;

}

.btn_menu_container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn_menu {
    @include btn;
}

.btn_menu:hover {
    opacity: 0.85;
    box-shadow: 0px 4px 15px 0px #00000059;

}
@media screen and (min-width:1024px) {
    .function_container {
        margin-left: 180px;
    }

    .function_card_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 207px;
        margin-left: 25px;
    }

    .restau {
        padding-left: 180px;
    }

    .restau_card_container {
        display: grid;
        grid-template-columns: repeat(2, 35%);
        gap: 40px 80px;
        justify-items: center;
        position: relative;
        padding: 50px 0px;
        margin: 0 auto;

        a {
            padding-left: 60px;
            width: 100%;
        }
    }

    .restau_card {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .like {
        position: absolute;
        left: 400px;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;

    }

    .footer_link_dispo {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-right: 40px;
    }

    .footer_title {
        margin-right: 50px;
    }

    .img_dim {
        width: 100%;
        height: 240px;
        display: flex;
    }

    .menu_dispo {
        width: 1055px;
        display: flex;
        justify-content: center;
    }

    .menu {
        width: 1055px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu_container {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .menu_content {
        width: 634px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .exploration_container {
        width: 100%;
    }

    .restau {
        width: 100%;
    }

    .function_container {
        width: 100%;
    }
}
